//    Font Family
// @font-face {
//     font-family: "Bradley Hand ITC";
//     src: url("/asset/fonts/bradhitc.ttf") format("truetype");
// }

$primary-font: SegoeUI-Bold, Segoe UI;

/*--------------------------- Color variations ----------------------*/

$primary-color: #0057f9;
$primary-color2: #0044c8;
$primary-color3: #fe3e7d;
$primary-color4: #4889fb;
$title-color: #00243f;
$title-color2: #424342;
$text-color: #7f919f;
$text-color4: #707070;
$text-color5: #022440;
$text-color6: #0047cc;
$text-color7: #4d8bff;
$icon-color: #26a232;
$btn-bg-color: #005bfe;
$btn-bg-color1: #f29a27;
$btn-bg-color2: #58bd61;
$star-color: #FFC107;

$text-bg: #8e9ebd;
$text-bg1: #a2c2ff;

$white: #fff;
$offwhite: #f9f9ff;
$black: #000;

$bg-hover: #e4e4e4;
