.custom-dropdown {
    .dropdown-toggle {
        padding: 0;
        align-items: center;
        display: flex;
        background-color: transparent !important;
        box-shadow: none !important;
        border: 0 !important;

        &::after {
            content: none;
        }

        &:active,
        &:focus {
            background-color: transparent !important;
            box-shadow: none !important;
            border: 0 !important;
        }
    }

    .dropdown-menu {
        background-color: $primary-color;
        color: $white;
        border-radius: 8px;

        .dropdown-item {
            color: $white;
            text-align: center;

            &:hover {
                background-color: transparent;
                opacity: .7;
            }
        }
    }
}